GROQ_API_KEY=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
GITHUB_TOKEN=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
LLM_MODEL=llama-3.3-70b-versatile
